$color-main: #5d9ad6;
$color-black: #000000;
$color-white: #ffffff;

$color-darkblue: #252a5c;
$color-blue: #622ef6;
$color-lightviolet: #dcbef6;
$color-violet: #a27dfc;
$color-red: #cb7588;
$color-darkred: #924f8d;
$color-yellow: #face92;
$color-green: #4abc41;

$color-btn-hover: #000000;
$color-btn-active: #000;
$color-btn-disabled: #000;
