@mixin list-style {
  list-style: none;
  padding-left: 0;
}

@mixin font-1 {
  font-family: 'Montserrat', 'Arial', sans-serif;
}

@mixin font-2 {
  font-family: 'Raleway', 'Arial', sans-serif;
}
