header.page-header
  nav.menu
    ul.menu__items
      li.menu__item
        a.menu__link(href="index.html") конспект
      li.menu__item
        a.menu__link(href="start.html") рабочее окружение
      //- li.menu__item
      //-   a.menu__link(href="summary.html")
      //- li.menu__item
      //-   a.menu__link(href="")
      //- li.menu__item
      //-   a.menu__link(href="")
      //- li.menu__item
      //-   a.menu__link(href="")
      //- li.menu__item
      //-   a.menu__link(href="")
      //- li.menu__item
      //-   a.menu__link(href="")
      //- li.menu__item
      //-   a.menu__link(href="")
      //- li.menu__item
      //-   a.menu__link(href="")
