doctype <!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
body
    section.info
      div
        p - Садитесь, молодой человек, - сказал полковник.
      header.info__header
        nav.info__menu.menu
          ul.menu__list
            li.menu__item тусовки тусовки
            li.menu__item ппрддппд
            li.menu__item kfkfk
            li.menu__item ffgfg
            li.menu__item лера мэмэмэ


